.characters {
    max-width: 1040px;
    min-width: 240px;
    margin: 51px auto 30px;

    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;

    @media (max-width: 1060px) {
        margin: 51px 15px 30px;
    }

    @media (max-width: 570px) {
        margin: 51px 25px 30px;
        justify-content: center; 
    }
}